{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña | Mondongo Games</title>

    <!-- Banner y estilos base -->
    <link rel="stylesheet" href="{% static 'games/css/login.css' %}">

    <!-- Estilos SOLO para password -->
    <link rel="stylesheet" href="{% static 'games/css/passwords.css' %}">

</head>
<body>

<div class="hero">

    <div class="hero-content">

        <!-- ===== TÍTULO DEL SITIO ===== -->
        <div class="titulo-banner">
            <h1 class="titulo-principal">Mondongo.Games</h1>
            <p class="subtitulo">¡Tu Arcade Virtual Definitivo!</p>
            <p class="frase">Juega. Compite. Domina.</p>
        </div>

        <!-- ===== CAJA PASSWORD ===== -->
        <div class="auth-box password-box">
            <h2>Recuperar contraseña</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <label class="email-text">Correo Electronico</label>
                    {{ form.email }}
                </div>

                <button type="submit" class="primary-btn">
                    Enviar enlace
                </button>
            </form>
        </div>

    </div>

</div>

<footer class="site-footer">
    <p>© 2026 MondongoGames. Todos los derechos reservados.</p>
</footer>

</body>
</html>
